.flexbox-container {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  height: 70px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}