.picture-in-picture{
  position: fixed;
  width: 320px;
  height: 180px;
  background-color: rgb(111, 111, 111);
  right: 10px;
  bottom: 10px;
}
.close-button{
  position: absolute;
  background-color: black;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  left: -10px;
  top: -8px;
  cursor: pointer;
}
.video-time{  
  background-color: black;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: Arial;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}