  p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .price{
    font-size: 32px;
    margin-bottom: 5px;
  }
  .currency{
    font-size: 20px;
    color: gray;
  }
  .change{
    color: rgb(24, 128, 56);
    margin-bottom: 8px;
  }
  .after-hours{
    color: rgb(100,100,100);
  }
  .after-hours-change{
    color: rgb(235, 39, 39);
  }
